<b>Parent Component</b>

<div class="border">
  Send Data to Comp1: <textarea type="text" placeholder="Enter anything...." #inputRef1 (keyup)="0" value="{{inputVar1}}"></textarea>
  <br><br>
  Send Data to Comp2: <textarea type="text" placeholder="Enter anything...." #inputRef2 (keyup)="0"></textarea>

  <br><br><br><br><br><br><br>

  Comp1: <br>
  <app-child-component1 [inputField1]="inputRef1.value" (onChildValueChanged)="getData($event)"></app-child-component1>

  Comp2: <br>
  <app-child-component2 [sendParentDataToComp2]="inputRef2.value"></app-child-component2>

</div>

<br><br><br>

<b>Calculator</b>
<div class="border">
  Value 1: <input type="text" #inputValue1 /><br>
  Value 2: <input type="text" #inputValue2 /><br>

  <button (click)="calculateAndDisplay(inputValue1.value, inputValue2.value, '+')">Sum</button> <button (click)="calculateAndDisplay(inputValue1.value, inputValue2.value, '-')">Substract</button>

  <br>
  <br>
  Result: {{result}} <br><br>
  Result with pipe: {{result | myltiplySameNumber}} (i.e., {{result | myltiplySameNumberDisplay}})
</div>
<br><br><br><br><br>




<router-outlet></router-outlet>